{% extends 'base.html' %}
{% block title %} lista de Experiencias {% endblock %}
{% block content %}
<h1> Experiencias:</h1>
<br>
{% if user.is_authenticated %}
<a href="{% url 'vista_agregar_experiencia' %}" class="btn"><i class="icon-plus"></i>Nuevo</a><br>
{% endif %}
<br>
{% if experiencias %}
	{% for e in experiencias %}
		<p><a href="/experiencia/{{e.id}}/">{{e.nombre}}</a></p>
	{% endfor %}
{% else %}
	<h2>NO existen experiencias activas a la vista :( </h2>
{% endif %}
<br><br><br>
{% if experiencias %}
		<a href="/experiencias/page/1"> << </a>
	{% if experiencias.has_previous %}
		<a href="/experiencias/page/{{experiencias.previous_page_number }}/"> Prev </a>
	{% else %}
		<a href="#"> Prev</a>
	{% endif %}
	{% if experiencias.has_next %}
		<a href="/experiencias/page/{{experiencias.next_page_number }}/"> Next </a>
	{% else %}
		<a href="#"> Next </a>
	{% endif %}
		<a href="/experiencias/page/{{experiencias.paginator.num_pages }}"> >> </a>
<br><br><br>
	<h4> Pagina {{ experiencias.number }} de {{ experiencias.paginator.num_pages }}</h4>
{% endif %}
{% endblock %}  