{% extends 'base.html' %}
{% block title %} lista de sitios {% endblock %}
{% block content %}
<h1> catalogo de sitios:</h1>
<br>
{% if user.is_authenticated %}
<a href="{% url 'vista_agregar_producto' %}" class="btn"><i class="icon-plus"></i>Nuevo</a><br>
{% endif %}
<br>
{% if productos %}
	{% for p in productos %}
		<p><a href="/sitiost/{{p.id}}/">{{p.nombre}}</a></p>
	{% endfor %}
{% else %}
	<h2>NO existen sitios activos a la vista :( </h2>
{% endif %}
<br><br><br>
{% if productos %}
		<a href="/sitiosts/page/1"> << </a>
	{% if productos.has_previous %}
		<a href="/sitiosts/page/{{productos.previous_page_number }}/"> Prev </a>
	{% else %}
		<a href="#"> Prev</a>
	{% endif %}
	{% if productos.has_next %}
		<a href="/sitiosts/page/{{productos.next_page_number }}/"> Next </a>
	{% else %}
		<a href="#"> Next </a>
	{% endif %}
		<a href="/sitiosts/page/{{productos.paginator.num_pages }}"> >> </a>
<br><br><br>
	<h4> Pagina {{ productos.number }} de {{ productos.paginator.num_pages }}</h4>
{% endif %}
{% endblock %}  