{% extends 'base.html' %}
{% block title %} lista de servicios {% endblock %}
{% block content %}
<h1> catalogo de servicios:</h1>
<br>
{% if user.is_authenticated %}
<a href="{% url 'vista_agregar_servicio' %}" class="btn"><i class="icon-plus">Nuevo</i></a><br>
{% endif %}
<br>
{% if servicios %}
	{% for s in servicios %}
		<p><a href="/servicio/{{s.id}}/">{{s.nombre}}</a></p>
	{% endfor %}
{% else %}
	<h2>NO existen servicios activos a la vista :( </h2>
{% endif %}
<br><br><br>
{% if servicios %}
		<a href="/servicios/page/1"> << </a>
	{% if servicios.has_previous %}
		<a href="/servicios/page/{{servicios.previous_page_number }}/"> Prev </a>
	{% else %}
		<a href="#"> Prev</a>
	{% endif %}
	{% if servicios.has_next %}
		<a href="/servicios/page/{{servicios.next_page_number }}/"> Next </a>
	{% else %}
		<a href="#"> Next </a>
	{% endif %}
		<a href="/servicios/page/{{servicios.paginator.num_pages }}"> >> </a>
<br><br><br>
	<h4> Pagina {{ servicios.number }} de {{ servicios.paginator.num_pages }}</h4>
{% endif %}
{% endblock %}  