{% extends 'base.html' %}
{% block title %} Servicio {{servicio.nombre}} {% endblock %}
{% block content %}
<h1> Servicios </h1>
<h1> {{ servicio.nombre }}</h1><br>
<img src="/media/{{ servicio.imagen }}" width="100%" heigth="100%"/>
<h2>Descripcion<p> {{ servicio.descripcion }}</p></h2>
<h2><p> Contacto: {{ servicio.contacto }}</p></h2>
<h2><p> Telefono: {{ servicio.telefono }}</p></h2>
<h2><p> Contacto2: {{ servicio.contacto2 }}</p></h2>
<h2><p> Telefono2: {{ servicio.telefono2 }}</p></h2>

<br><br>
<a href="javascript:window.history.go(-1);" class="btn btn-primary" > Regresar a la lista </a>
{% endblock %}